@import "tailwindcss";

/*** SWIPE LIST OVERRIDES **/

.swipeable-list-item__leading-actions,
.swipeable-list-item__trailing-actions {
    @apply text-white text-lg uppercase font-bold;
}

.swipeable-list-item__leading-actions {
    @apply bg-blue-600;
}

.swipeable-list-item__trailing-actions {
    @apply bg-pink-600;
}

.swipeable-list .swipe-action {
    @apply flex justify-center items-center
}

/*** FAVORITE ANIMATIONS ***/

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.animate-fade-in-down {
    animation: fadeInDown 0.3s ease-out;
}
